$color-green: #009617;
$color-green-light: #45b256;
$color-green-dark: #006E11;
$color-green-darker:#001c04;

$color-grey-green: rgb(87, 110, 79);

$color-grey-light: #BEBEBE;
$color-grey-primary: #777;
$color-grey-dark: #282828;
$color-grey-darker: #1c1c1c;

$color-red-light: rgb(228, 107, 102);

$color-gold: #d4af37;
$color-gold-light: #e8b923;
$color-gold-dark: #6e5a18;

$color-black: #000;
$color-black-light: #111111;

$color-white: #fff;

$font-weight-light: 400;
$font-weight-heavy: 700;

// GRID
$grid-width: 114rem;
$gutter-vertical: 1.5rem;
$gutter-horizontal: 6rem;

$navigation-height: 5rem;